<ion-header class="app-header">
  <ion-navbar>
    <ion-title></ion-title>
    <!-- <ion-buttons end>
      <button (click)="changeData()" ion-button icon-only>
        <ion-icon name="md-create" color="secondary"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content fullscreen  (ionScroll)="scrollingFun($event)">

  <div class="profile-head">
    <img src="{{fotoPerfil}}" />
  </div>

  <div class="profile-detail">
    <ion-item no-lines>
      <ion-label text-uppercase stacked>nome</ion-label>
      <ion-input type="text" placeholder="Nome" disabled="{{isDisabled}}" [value]="nome"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label text-uppercase stacked>Email</ion-label>
      <ion-input type="email" placeholder="email" disabled="{{isDisabled}}" [value]="email"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label text-uppercase stacked>Celular</ion-label>
      <ion-input type="tel" placeholder="telefone" id="phone" disabled="{{isDisabled}}" [value]="telefone"></ion-input>
    </ion-item>

    <ion-segment color="primary" [(ngModel)]="tabs">
      <ion-segment-button color="primary" value="Histórico">
        Histórico
      </ion-segment-button>
      <ion-segment-button color="primary" value="Agendamentos">
        Agendamentos
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="tabs">

      <div *ngSwitchCase="'Histórico'">
        <div *ngFor="let item of history">
          <!-- <img src="assets/img/map.png" /> -->
          <div class="trip-distention">
            <ion-row>
              <ion-col col-7>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-disc" color="dark" item-start></ion-icon>
                  {{item.origem}}
                </ion-item>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-pin" color="dark" item-start></ion-icon>
                  {{item.destino}}
                </ion-item>
                <div class="line"></div>
              </ion-col>
              <ion-col col-5>
                <div class="status" text-right item-end>
                  <h4>{{item.status}}</h4>
                  <p no-margin>{{item.data}}</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-item class="cash" no-lines>
            <ion-icon name="md-cash" color="secondary" item-start></ion-icon>
            <h2>{{item.valor}}</h2>
            <p>{{item.formaPagamento}}</p>
          </ion-item>
        </div>
      </div>

      <div *ngSwitchCase="'Agendamentos'">
        <div *ngFor="let item of notify">
          <div class="trip-distention notify">
            <ion-row>
              <ion-col col-7>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-disc" color="dark" item-start></ion-icon>
                  {{item.origem}}
                </ion-item>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-pin" color="dark" item-start></ion-icon>
                  {{item.destino}}
                </ion-item>
                <div class="line"></div>
              </ion-col>
              <ion-col col-5>
                <div class="status" text-right item-end>
                  <p>{{item.data}}</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <ion-item class="cash" no-lines>
            <ion-icon name="md-cash" color="secondary" item-start></ion-icon>
            <h2>{{item.valor}}</h2>
            <p>{{item.formaPagamento}}</p>
            <button color="secondary" (click)="removeItem(item)" ion-button item-end>cancelar</button>
          </ion-item>
        </div>
        <p *ngIf="notify.length==0" style="padding: 20px" text-center text-capitalize no-margin>sem agendamentos</p>
      </div>

    </div>
  </div>

</ion-content>