page-check-disponibility {
    .cancelRed{
        color: red;
        font-size: 25px;
    }
    .checkGreen{
        color:green;
        font-size: 25px;
    }

    .configText{
        padding-top: 30px;
        padding-left: 10px;
    }
}
