<ion-header class="app-header">
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons style="order:1;" start>
      <button class="user-img-btn" (click)="profileButtonAction();" ion-button icon-only>
        <img [src]="getProfilePhoto()">
      </button>
    </ion-buttons>
    <ion-title text-capitalize>TÔdeTAXI</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="'Setting'">
        <ion-icon name="md-settings" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="shadow"></div>
  <div class="trip-distention" [ngClass]="{'show-distention': global.showDetails}">
    <ion-item no-lines>
      <ion-icon name="md-disc" color="secondary" item-start></ion-icon>
      {{textoOrigem}}
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="md-pin" color="secondary" item-start></ion-icon>
      {{textoDestino}}
    </ion-item>
    <ion-item no-lines *ngIf="global.accept">
      <ion-icon name="md-person" class="textGreen" item-start></ion-icon>
      {{nomePassageiro}}
    </ion-item>
    <div class="line"></div>
  </div>
</ion-header>


<ion-content class="app-content">
  <ion-fab middle right *ngIf="global.accept">
    <button (click)="navigateTo()" ion-fab class="backwhite">
      <ion-icon name="navigate" color="dark"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab middle left
    *ngIf="serviceProvider.taxistaLogado && serviceProvider.taxistaLogado.disponivel && !platformIOS">
    <button color="dark" ion-fab (click)="callPanic()">
      <ion-icon name="md-help-buoy" color="light"></ion-icon>
    </button>
  </ion-fab>
  <agm-map #map id="map" data-tap-disabled="true" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
    [disableDefaultUI]="true" [zoomControl]="false" [fullscreenControl]="false" [streetViewControl]="false">
    <agm-marker [latitude]="lat" iconUrl="/assets/img/grabpin.png" [longitude]="lng" [markerDraggable]="false"
      [animation]="'DROP'">
      <agm-info-window>
        <strong>Você está aqui </strong>
      </agm-info-window>
    </agm-marker>
    <agm-direction *ngIf="origin && destination && origin.lat && destination.lat" [origin]="origin"
      [destination]="destination" [markerOptions]="markerOptions" [renderOptions]="renderOptions">
    </agm-direction>
  </agm-map>
  <!-- <div #map id="map" data-tap-disabled="true"></div> -->
</ion-content>


<ion-footer class="app-footer" [ngClass]="{'new-clip': global.showDetails , 'old-clip': global.accept}">
  <ion-toolbar color="primary">

    <div class="Trip-det" *ngIf="!global.accept">

      <ion-fab top center [ngClass]="{'shake': serviceProvider.solicitacaoCorridaEmQuestao , 'old-clip': global.accept}"
        class="animated infinite" *ngIf="!global.showDetails">
        <button (click)="activeTrip()" ion-fab
          [color]="serviceProvider.solicitacaoCorridaEmQuestao ? 'danger' : 'default'"
          [ngClass]="{'blue': !serviceProvider.solicitacaoCorridaEmQuestao}">
          <ion-icon name="md-disc" color="light"></ion-icon>
        </button>
      </ion-fab>
      <ion-fab class="turnoff-fab left-right-fab" top right mini edge
        *ngIf="!global.showDetails && serviceProvider.taxistaLogado && serviceProvider.taxistaLogado.disponivel">
        <button color="danger" ion-fab mini (click)="closeAPP()">
          <ion-icon name="md-power" color="light"></ion-icon>
        </button>
      </ion-fab>
      <ion-fab twice top center *ngIf="global.showDetails">
        <ion-row>
          <ion-col col-6>
            <button (click)="presentDestinationModal()" ion-fab color="secondary">
              <ion-icon name="md-checkmark" color="light"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6>
            <button (click)="recusarCorrida();ignoreCorrida()" ion-fab color="danger">
              <ion-icon name="md-trash" color="light"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-fab>
      <div *ngIf="global.showDetails">
        <ion-grid class="trip-detail">
          <ion-row>
            <ion-col col-6>
              <h4>{{descTituloTipoViagem}}</h4>
              <ion-item no-padding no-lines>
                {{descTipoViagem}}
              </ion-item>
            </ion-col>
            <ion-col style="direction: rtl" col-6>
              <h4>Forma de pagamento</h4>
              <ion-item no-padding no-lines>
                <ion-icon name="md-card" color="secondary" item-start></ion-icon>
                {{descFormaPagamento}}
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row text-center>
            <ion-col col-4>
              <h4 no-margin>Distância</h4>
              <h3>{{descDistanciaViagem}} Km</h3>
            </ion-col>
            <ion-col class="mid-col" col-4>
              <h4 no-margin>Tempo</h4>
              <h3>{{descTempoViagem}}</h3>
            </ion-col>
            <ion-col col-4>
              <h4 no-margin>Valor aproximado </h4>
              <h3>{{descValorCorrida}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>


    <div *ngIf="global.accept && !global.running" class="accept-trip" text-center>
      <ion-grid class="trip-detail">
        <ion-row>
          <ion-col col-12>
            <ion-fab top center class="ionfabtrip">
              <button (click)="cancelAlert()" color="danger" ion-fab>
                <ion-icon name="md-trash" color="light"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
          <ion-col col-12>
            <p><b>Buscar Passageiro</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="global.accept && global.running" class="accept-trip" text-center>
      <ion-grid class="trip-detail">
        <ion-row>
          <ion-col col-12>
            <ion-fab class="delete-fab" top center edge>
              <button (click)="pausarCorrida()" color="danger" ion-fab>
                <ion-icon name="pause" color="light"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
          <ion-col col-12>
            <p><b>Levar passageiro até o destino</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-toolbar>

  <div class="accept-trip delete-fab" *ngIf="global.accept && global.running">
    <ion-fab top center class="delete-fab">
      <button (click)="doneRun()" class="DoneRun" ion-fab>
        <ion-icon name="checkmark-circle-outline" color="light"></ion-icon>
      </button>
    </ion-fab>
    <div class="border"></div>
  </div>

  <div class="accept-trip" *ngIf="global.accept && !global.running">
    <ion-fab class="message-fab left-right-fab" top left mini edge>
      <button (click)="presentMessageModal()" color="dark" ion-fab mini>
        <ion-icon name="md-text" color="secondary"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="delete-fab" top center edge>
      <button (click)="getPassageiro()" class="DoneRun" ion-fab>
        <ion-icon name="md-man" color="light"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="phone-fab left-right-fab" top right mini edge>
      <button color="dark" ion-fab mini (click)="callPassageiro()">
        <ion-icon name="md-call" color="secondary"></ion-icon>
      </button>
    </ion-fab>

    <div class="border"></div>
  </div>

</ion-footer>