/**
 * Ion Cab (https://store.enappd.com/product/taxi-booking-app/)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ /**
 * Ion Cab (https://store.enappd.com/product/taxi-booking-app/)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-icon {
    font-size: 4em;
    color: var(--ion-color-all);
  }
  
  .forgot_icon{
    text-align: center;
  }

  .configText{
    padding-top: 30px;
    padding-left: 10px;
}

.iconPayment{
    font-size: 30px;
    color: green;
}

ion-segment{
    background-color: green;
    .segment-button{
        color: white !important;
        background-color: green;
        opacity: 1 !important;
        /*font-weight: bold;*/
        font-size: 1.5rem !important;
        border-bottom-width: 3px;
        border-bottom-color: transparent;
    }
}
  