<ion-header class="app-header">
  <ion-navbar color="primary">
    <ion-title text-capitalize>Configurações</ion-title>
  </ion-navbar>
  <div class="shadow"></div>
</ion-header>


<ion-content class="app-content">

  <ion-item-group class="setting-list"  margin-bottom>
    <ion-item class="change-setting" (click)="alterarSenha()" no-padding>Alterar senha</ion-item>

    <ion-item mode="md" no-padding (click)="configurarDisponibilidade()" *ngIf="taxistaDisponivel">
      <ion-label>
       Disponível para corridas
      </ion-label>
      <p item-right>Sim</p>
      <ion-icon name="checkmark" class="checkGreen" item-right></ion-icon>
    </ion-item>

    <ion-item mode="md" no-padding (click)="configurarDisponibilidade()" *ngIf="!taxistaDisponivel">
      <ion-label>
       Disponível para corridas
      </ion-label>
      <p item-right>Não</p>
      <ion-icon name="close" class="cancelRed" item-right></ion-icon>
    </ion-item>

    <ion-item (click)="presentEmergency()" no-padding>Configurações financeiras</ion-item>
    <ion-item [navPush]="'Profile'" no-padding>Histórico/Agendamentos</ion-item>

    <ion-item class="change-setting" [navPush]="'ContratoServicosPage'" no-padding>Informações legais</ion-item>
    <ion-item (click)="logoutNow()" no-padding>Sair</ion-item>
  </ion-item-group>

</ion-content>